<div *ngFor="let info of airList">
  <h1>{{info.stationName}}</h1>
  <table>
    <tr>
      <th>축정망정보</th>
      <th>측정일시</th>
      <th>아황산가스농도</th>
      <th>일산화탄소농도</th>
      <th>오존농도</th>
    </tr>
    <tr>
      <td>{{info.mangName}}</td>
      <td>{{info.dataTime}}</td>
      <td appSo2Value [value]="info.so2Value">{{info.so2Value}}</td>
      <td appCoValue [value]="info.coValue">{{info.coValue}}</td>
      <td appO3Value [value]="info.o3Value">{{info.o3Value}}</td>
    </tr>
    <tr>
      <th>이산화질소농도</th>
      <th>미세먼지(PM10)농도</th>
      <th>미세먼지(PM10)24시간예측이동농도</th>
      <th>미세먼지(PM25)농도</th>
      <th>미세먼지(PM25)24시간예측이동농도</th>
    </tr>
    <tr>
      <td appNo2Value [value]="info.no2Value">{{info.no2Value}}</td>
      <td appPm10Value [value]="info.pm10Value">{{info.pm10Value}}</td>
      <td appPm10Value [value]="info.pm10Value24">{{info.pm10Value24}}</td>
      <td appPm25Value [value]="info.pm25Value">{{info.pm25Value}}</td>
      <td appPm25Value [value]="info.pm25Value24">{{info.pm25Value24}}</td>
    </tr>
    <tr>
      <th>통합대기환경수치</th>
      <th>통합대기환경지수</th>
      <th>아황산가스지수</th>
      <th>일산화탄소지수</th>
      <th>오존지수</th>
    </tr>
    <tr>
      <td>{{info.khaiValue}}</td>
      <td>{{info.khaiGrade}}</td>
      <td>{{info.so2Grade}}</td>
      <td>{{info.coGrade}}</td>
      <td>{{info.o3Grade}}</td>
    </tr>
    <tr>
      <th>이산화질소지수</th>
      <th>미세먼지(PM10)1시간등급</th>
      <th>미세먼지(PM10)24시간등급</th>
      <th>미세먼지(PM25)1시간등급</th>
      <th>미세먼지(PM25)24시간등급</th>
    </tr>
    <tr>
      <td>{{info.no2Grade}}</td>
      <td>{{info.pm10Grade1h}}</td>
      <td>{{info.pm10Grade}}</td>
      <td>{{info.pm25Grade1h}}</td>
      <td>{{info.pm25Grade}}</td>
    </tr>
  </table>
</div>