<h1>AirKorea</h1>
<nav>
  <ul>
    <li (click)="goLink('서울')">서울</li>
    <li (click)="goLink('부산')">부산</li>
    <li (click)="goLink('울산')">울산</li>
    <li (click)="goLink('대전')">대전</li>
    <li (click)="goLink('대구')">대구</li>
  </ul>
</nav>
<br />
<router-outlet></router-outlet>